<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <h1>Rango website</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'rango:index' %}">Home</a></li>
            <li><a href="{% url 'rango:about' %}">About</a></li>
        </ul>
    </nav>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Ying Ting Rango Website. All rights reserved.</p>
    </footer>
</body>
</html>